[submodule "node_modules/winston"]
	path = node_modules/winston
	url = git://github.com/indexzero/winston.git
[submodule "node_modules/pkginfo"]
	path = node_modules/pkginfo
	url = git://github.com/indexzero/node-pkginfo.git
